#sleepChart {
  width: 100%;
  max-width: 1500px;
}

.center {
  margin: auto;
  padding: 4rem;
}

body {
  background-color: #795695;
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;

  /* add some image/animation from bottom of the page with purple overay, maybe lavander */
}

main {
  background-color: #371f76;
}
h1,
h2,
h3,
h4 {
  font-family: "Alfa Slab One", cursive;
}

h1,
h2,
h4,
p {
  color: aliceblue;
}

button {
  background-color: #795695;
}

a {
  text-decoration: none;
  color: #c8a4d4;
}

#graphs {
  padding-bottom: 10px;
}
